<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soleeklab.nilebot">

    <application
        android:name=".NilebotApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".features.auth.forgotpassword.resetPassword.ResetPasswordActivity"></activity>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->



        <activity
         android:name=".features.home.HomeActivity"
         android:label="@string/title_activity_home"
         android:configChanges="orientation|screenSize"
         android:screenOrientation="portrait" />

         <activity android:name=".features.home.pond.pondDetails.PondSensorsReadings.chart.ChartFullScreenActivity"
         android:screenOrientation="landscape"
         android:configChanges="orientation|screenSize"/>
        <activity
            android:name=".features.auth.forgotpassword.confirmCode.ConfirmCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CrashReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.auth.forgotpassword.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.auth.signup.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".features.auth.login.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".features.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
         <activity
         android:name=".features.home.farms.addFarm.MapActivity"
         android:screenOrientation="portrait" />
         <activity
         android:name=".features.home.farms.addFarm.AddFarmActivity"
         android:screenOrientation="portrait" />
         <activity
         android:name=".features.home.pond.addPond.AddPondActivity"
         android:screenOrientation="portrait" />
        <activity
            android:name=".features.SplashNoInternetConnectionActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_box" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <service android:name=".push.MyFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

    <permission
        android:name="com.soleeklab.nilebot.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>